@keyframes baby_globe_headphones_click {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.babyglobe-clickable.babyglobe-image {
	cursor: pointer;
}

.babyglobe-ext {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999999;
	text-wrap: nowrap;

	padding: 2%;

	transform: scale(1) rotate(0deg);
}

.babyglobe-message {
	position: absolute;
	top: 0;
	left: 100%;

	opacity: 0;
}
