@keyframes babyglobe-interact {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

.babyglobe-clickable.babyglobe-image {
	cursor: pointer;
}

.babyglobe-draggable {
	transform: scale(1);
	transition: transform 200ms;

	user-select: none;
}

.babyglobe-draggable.babyglobe-dragging {
	transform: scale(1.2);
	cursor: grabbing;
}

.babyglobe-ext {
	position: fixed;
	z-index: 999999;
	text-wrap: nowrap;

	padding: 2%;
}

.babyglobe-message {
	position: absolute;
	top: 0;
	left: 100%;

	opacity: 0;
}
